DB_NAME='portfolio' # Change this to the name of your database
DB_USER='changeme' # Change this to the username of your database
DB_PASSWORD='changeme' # Change this to the password of your database

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
# DB_PREFIX='wp_'

WP_ENV='production'
WP_HOME='http://127.0.0.1:8888/portfolio/web'
WP_SITEURL="${WP_HOME}/wp"
DB_HOST='127.0.0.1:8889'
# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

WP_DEBUG=true
WP_DEBUG_LOG=true
WP_DEBUG_DISPLAY=true
